<!-- filepath: c:\dev\django_project\slumSarathi\templates\resources\resources_list.html -->
{% extends "base.html" %}
{% block title %}Resources{% endblock %}
{% block content %}
<div class="container py-4">
     {% if user.is_authenticated %}
    <div class="d-flex justify-content-end mb-4">
        <a href="{% url 'resources:resource_upload' %}" class="btn btn-primary">
            <i class="bi bi-upload me-2"></i>Upload Resource
        </a>
    </div>
    {% endif %}
    <div class="row g-4" id="resource-list">
        {% include "resources/_resource_list_items.html" %}
    </div>
</div>
{% endblock %}